# Operation on List, Set and String

1. Len

    Return the number of items in a list
    
    Syntax = len(object)

In [2]:
#List
a = [1,2,3,4,5,6,6,7,7,8,8,9,9]

In [3]:
print(a)

[1, 2, 3, 4, 5, 6, 6, 7, 7, 8, 8, 9, 9]

In [5]:
len(a)

13

In [7]:
#Set
#For Set, just unique one are counted
b = {1,2,3,4,5,6,6,7,7,8,8,9,9}

In [8]:
len(b)

9

2. Max 

   Return the item with the highest value, if the values are strings, an alphabetically comparison is done
   
   syntax = max(variabel)

In [9]:
c = [1,2,3,4,5,6,6,7,7,8,8,9,9]

In [10]:
max(c)

9

In [11]:
d = ["Apple", "Manggo", "Peach", "Banana"]

In [12]:
max(d)

'Peach'

3. Min

   Return the item with the lowest value, if the values are strings, an alphabetically comparison is done

   syntax = min(variabel)

In [13]:
e = [1,2,3,4,5,6,6,7,7,8,8,9,9]

In [14]:
min(e)

1

In [15]:
f = ["Apple", "Manggo", "Peach", "Banana"]

In [16]:
min(f)

'Apple'

4. Count

   Returns the number of elements with the specified value
   
   Syntax = variabel.count(value)

In [17]:
g = [1,2,3,4,5,6,6,7,7,8,8,9,9]

In [18]:
g.count(8)

2

In [19]:
g.count(2)

1

In [25]:
h = "I have an apple"

In [26]:
h.count("a")

3

5. Combine data in the List

   To combine element from variabel in the list you can use "+" 
   
   syntax = variabel a + variabel b

In [28]:
i = [1,2,3,4,5,6,6,7,7,8,8,9,9]
j = ["Apple", "Manggo", "Peach", "Banana"]

In [29]:
i+j

[1, 2, 3, 4, 5, 6, 6, 7, 7, 8, 8, 9, 9, 'Apple', 'Manggo', 'Peach', 'Banana']

6. Replication 

   To write down the element as many as you want you can use "*"
   
   Syntax = Variabel* value

In [30]:
k = [1,2,3,4,5,6,6,7,7,8,8,9,9]
l = ["Apple", "Manggo", "Peach", "Banana"]

In [31]:
k*2

[1, 2, 3, 4, 5, 6, 6, 7, 7, 8, 8, 9, 9, 1, 2, 3, 4, 5, 6, 6, 7, 7, 8, 8, 9, 9]

In [32]:
l*4

['Apple',
 'Manggo',
 'Peach',
 'Banana',
 'Apple',
 'Manggo',
 'Peach',
 'Banana',
 'Apple',
 'Manggo',
 'Peach',
 'Banana',
 'Apple',
 'Manggo',
 'Peach',
 'Banana']

7. In and Not in

   In for checking whether a specified value is a constituent element of a sequence 
   
   Not in works exactly the opposite way as the in operator works. It also checks the presence of a specified value inside a given sequence but itâ€™s return values are totally opposite to that of the in operator

In [33]:
m = [1,2,3,4,5,6,6,7,7,8,8,9,9]
n = ["Apple", "Manggo", "Peach", "Banana"]

In [34]:
9 in m

True

In [35]:
25 in m

False

In [36]:
13 not in m

True

In [38]:
"Apple" in n

True

In [39]:
"Guava" in n

False

8. Give the value for multiple Variabel

In [40]:
hewan = ["kucing", "karnivora", "kaki empat"]

In [41]:
print(hewan)

['kucing', 'karnivora', 'kaki empat']

In [42]:
nama = hewan[0]

In [43]:
jenis = hewan [1]

In [44]:
kaki = hewan [2]

In [ ]:
#Element "Hewan" give the value as "nama"

In [45]:
print(nama)

kucing

In [ ]:
#when you call the element "nama" the value of nama will appear, that is "kucing"

In [46]:
print(jenis)

karnivora

In [47]:
print(kaki)

kaki empat

In [ ]:
#Second way
#it is more easier

In [48]:
hewan = ["kucing", "karnivora", "kaki empat"]

In [49]:
nama, jenis, kaki = hewan

In [50]:
jenis

'karnivora'

In [ ]:
#when you call the element "jenis" the value of jenis will appear, that is "karnivora"

9. The use of assignments on multi-variables can be swapped

    it can be swap if the value is same

In [52]:
wajah, sifat = "menarik" , "baik"

In [53]:
wajah, sifat = sifat, wajah

In [54]:
wajah

'baik'